@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: auto; 
        /* change the margins as you want them to be. */
   } 
}

.table-borderless td,
.table-borderless th {
	border: 0 !important;
	padding: 0px;
}

.table-bordered-no-padding td,
.table-bordered-no-padding th {
	border: 1px solid #dee2e6 !important;
	padding: 2px;
	font-size: 12px;
	text-align: center;
}

table {
	width: 100%;
	margin-top: 30px;
	display: inline-table;
}


.border-bottom{
  border-bottom: 1px solid #ddd;
}

.w100 {
	width: 100%;
}
.w90 {
	width: 90%;
}
.w80 {
	width: 80%;
}
.w70 {
	width: 70%;
}
.w60 {
	width: 60%;
}
.w50 {
	width: 50%;
}
.w45 {
	width: 45%;
}
.w40 {
	width: 40%;
}
.w30 {
	width: 30%;
}
.w20 {
	width: 20%;
}
.w10 {
	width: 10%;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

header { 
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	left: 0px; 
	right: 0px; 
	border-bottom: 3px solid; 
}
main { 
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 15px; 
}
p {
	margin-bottom: 0px !important;
}

.hr-line {
	width: 100%;
	border-bottom: 3px solid; 
}

body {
	background: white;
}
.display-inline { 
	display: inline-block;
	margin-right: 60px; 
	margin-bottom: 30px;
}
.display-right { 
	float: right;
	display: inline-block;
	margin-bottom: 10px;
}
.clear-right { 
	clear: right;
	float: right;
	margin-bottom: 30px;
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt40{
	margin-top: 40px;
}
.mt80{
	margin-top: 80px;
}
.mt120{
	margin-top: 200px;
}

.ml40{
	margin-left: 40px;
}
.title-underline{
	margin-top: 40px;
	text-decoration: underline;
	text-align: center;
}

.text-underline{
	text-decoration: underline;
}

.blank-underline{
	border-bottom: 1px solid #000;
	display: block;
	width: 100%;
}

.title-overline{
	margin-top: 80px;
	text-decoration: overline;
}

.text-overline{
	text-decoration: overline;
}

.fs8 {
    font-size: 8px;
}

.fs12 {
    font-size: 12px;
}

p .end { 
	border:1px solid black; 
	position:absolute; 
	right:0;
	text-align:right;
	margin-right: 80px;
}

.m60 {
	margin: 60px;
}

.pt80 {
	padding-top: 80px;
}